addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
attrs==24.2.0
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chumpy==0.70
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
coverage==7.6.1
crcmod==1.7
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
exceptiongroup==1.2.2
filelock==3.14.0
flake8==7.1.1
fonttools==4.54.1
fsspec==2024.10.0
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
idna @ file:///croot/idna_1714398848350/work
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
interrogate==1.7.0
isort==4.3.21
Jinja2 @ file:///croot/jinja2_1716993405101/work
jmespath==0.10.0
json-tricks==3.17.3
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.7.5
mccabe==0.7.0
mdurl==0.1.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mmcv==2.1.0
mmdet==3.3.0
mmengine==0.10.5
-e git+https://github.com/open-mmlab/mmpose.git@71ec36ebd63c475ab589afc817868e749a61491f#egg=mmpose
model-index==0.1.11
mpmath @ file:///croot/mpmath_1690848262763/work
munkres==1.1.4
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
opencv-python==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
oss2==2.17.0
packaging==24.1
pandas==2.0.3
parameterized==0.9.0
pillow @ file:///croot/pillow_1721059439630/work
platformdirs==4.3.6
pluggy==1.5.0
py==1.11.0
pycocotools==2.0.7
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.4
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==8.3.3
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
pytz==2023.4
PyYAML @ file:///croot/pyyaml_1728657952215/work
requests==2.28.2
rich==13.4.2
scipy==1.10.1
shapely==2.0.6
six==1.16.0
sympy @ file:///croot/sympy_1724938189289/work
tabulate==0.9.0
termcolor==2.4.0
terminaltables==3.1.10
tomli==2.0.2
torch==2.4.1
torchaudio==2.4.1
torchvision==0.20.0
tqdm==4.65.2
triton==3.0.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.2
urllib3==1.26.20
xdoctest==1.2.0
xtcocotools==1.14.3
yapf==0.40.2
zipp==3.20.2
